/* sign in and sign up content */
.signIn__container,
.signUp__container {
  text-align: center;
  padding: calc(var(--factor) * 1.5) calc(var(--factor) * 3);
}

.signIn__container .logo,
.signUp__container .logo {
  margin-bottom: calc(var(--factor) * 4);
}

.signIn__wrapper h4 {
  font-weight: 500;
  color: var(--color-gray);
  font-size: var(--font-md);
}

.signIn__wrapper p {
  text-align: center;
  color: var(--color-gray);
  line-height: calc(var(--factor) * 2.5);
  font-size: var(--font-sm);
  margin: calc(var(--factor) * 2) 0;
}

.signIn__wrapper p a {
  font-weight: 500;
  color: var(--color-gray);
}

.signin__form {
  text-align: left;
}

.signIn__wrapper,
.signUp__wrapper {
  background-color: #fff;
  margin-bottom: var(--factor);
  border: 1px solid var(--border-color);
  margin-right: calc(var(--factor) * 4);
}

.signIn__wrapper {
  padding: calc(var(--factor) * 6) calc(var(--factor) * 5)
    calc(var(--factor) * 2);
}
.signIn__wrapper .input__wrapper:last-of-type {
  margin-top: calc(var(--factor) * 1.5);
}

.signIn__text {
  font-weight: 500;
  position: relative;
  color: var(--color-gray);
  font-size: var(--font-sm);
  text-transform: uppercase;
  padding: calc(var(--factor) * 2) 0;
}

.signIn__text span {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 calc(var(--factor) * 2);
}

.signIn__text::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--border-color);
}

.signIn__otherButton {
  padding: calc(var(--factor) * 2) 0;
}

.signIn__otherButton .fa,
.signUp__otherButton .fa {
  font-size: var(--font-df);
  margin-right: calc(var(--factor) * 0.5);
}
.signIn__otherButton.fb a {
  color: var(--color-fb);
}

.signIn__otherButton a {
  font-weight: 500;
}

.signUp__otherButton {
  border-radius: var(--input-radius);
  background-color: var(--color-primary);
}

.signUp__otherButton a {
  color: #fff;
  display: block;
  padding: var(--factor);
  margin: calc(var(--factor) * 3) 0 0;
}

.signIn__forgot {
  font-size: 12px;
  padding: var(--factor) 0 0;
}

.signUp__wrapper {
  padding: calc(var(--factor) * 3) 0;
}

.signUp__wrapper a {
  font-weight: 500;
  color: var(--color-primary);
}

.getApp__wrapper {
  padding: calc(var(--factor) * 2);
}

.getApp__wrapper p {
  margin-bottom: calc(var(--factor) * 2);
}

.getApp__wrapper .list__inline {
  justify-content: center;
}

.getApp__wrapper .item + .item {
  margin-left: calc(var(--factor) * 2);
}

.getApp__wrapper .list__inline img {
  height: calc(var(--factor) * 5);
}

/* password reset screen & save credentails screen */
.passwordReset,
.save__credentials {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.passwordReset__formContainer,
.saveCredetials__container {
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 1px solid var(--border-color);
}

.saveCredetials__container {
  text-align: center;
  padding: calc(var(--factor) * 3) calc(var(--factor) * 5);
}

.passwordReset__formContainer {
  padding-bottom: 0;
  padding: calc(var(--factor) * 5);
}

.passwordReset__formContainer a,
.passwordReset__container .back__to__login {
  font-weight: 500;
  color: var(--color-black);
}

.passwordReset__icon,
.saveCredetials__icon {
  border-radius: 50%;
  max-width: calc(var(--factor) * 15);
  border: 2px solid var(--color-black);
  margin-bottom: calc(var(--factor) * 2);
}

.passwordReset__icon {
  padding: calc(var(--factor) * 2.3) calc(var(--factor) * 3.5)
    calc(var(--factor) * 3.2);
}

.saveCredetials__icon {
  padding: calc(var(--factor) * 2.3) calc(var(--factor) * 3)
    calc(var(--factor) * 3);
}

.passwordReset .fa {
  font-size: calc(var(--factor) * 9);
  line-height: calc(var(--factor) * 9);
}

.saveCredetials__icon .fa {
  font-size: calc(var(--factor) * 5);
  line-height: calc(var(--factor) * 5);
}

.passwordReset__container h4,
.saveCredetials__container h5 {
  font-weight: 500;
  margin-bottom: calc(var(--factor) * 2);
}

.passwordReset__container h4 {
  font-size: var(--font-md);
}

.saveCredetials__container h5 {
  font-size: var(--font-df);
}

.passwordReset__container p,
.passwordReset__container .button,
.passwordReset__container .input__wrapper,
.saveCredetials__container p,
.saveCredetials__container .button__primary {
  margin-bottom: calc(var(--factor) * 2);
}

.passwordReset__container p,
.saveCredetials__container p {
  color: var(--color-gray);
}

.passwordReset__container .singIn__other,
.passwordReset__container .input__wrapper,
.passwordReset__container .back__to__login {
  width: 100%;
}

.passwordReset__container .signIn__text {
  padding-bottom: 0;
}

.passwordReset__container .singIn__other {
  margin-bottom: calc(var(--factor) * 6);
}

.passwordReset__container .back__to__login {
  display: block;
  max-width: 400px;
  padding: calc(var(--factor) * 2);
  border: 1px solid var(--border-color);
  background-color: var(--background-whitish);
  border-top: 0;
}
