/* footer */
.footer__container {
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-sm);
  line-height: calc(var(--factor) * 3);
  padding: 0 calc(var(--factor) * 3) calc(var(--factor) * 3);
}

.footer__container .list {
  justify-content: center;
}

.footer__container .list + .list {
  margin-top: calc(var(--factor) * 2);
}

.footer__container .item {
  display: inline;
}

.footer__container .item + .item {
  margin-left: calc(var(--factor) * 1.5);
}

.footer__container select {
  border: 0;
  color: var(--color-gray);
  font-size: var(--font-sm);
  background-color: transparent;
  max-width: calc(var(--factor) * 8);
}

/* header */
header {
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
}
header .box__container {
  height: 60px;
  display: flex;
  align-items: center;
  padding: calc(var(--factor) * 2.5);
}

header .logo {
  max-height: 30px;
  margin-top: calc(var(--factor) / 4);
}

.header__rightWrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}

header .list,
header .list .item + .item {
  margin-left: calc(var(--factor) * 3);
}

header .list {
  display: flex;
  align-items: center;
}

header .item {
  position: relative;
}

header .dot {
  border-radius: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  display: inline-block;
  bottom: calc(var(--factor) * -1);
  background-color: var(--color-red);
}

header .badge {
  width: 18px;
  height: 18px;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: var(--font-xs);
  top: calc(var(--factor) * -1);
  right: calc(var(--factor) * -1);
  background-color: var(--color-red);
  line-height: calc(var(--factor) * 2.2);
}

header .input__wrapper {
  margin-bottom: 0;
}

header .input__control {
  min-width: 250px;
  border-color: var(--background-cream);
  padding-left: calc(var(--factor) * 2);
  padding-right: calc(var(--factor) * 2);
  background-color: var(--background-cream);
  border-radius: calc(var(--input-radius) * 2);
}

header i {
  max-width: 24px;
  font-size: calc(var(--factor) * 2.8);
  line-height: calc(var(--factor) * 2.8);
}

header .profile__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-flex;
  vertical-align: middle;
  background-color: var(--background-cream);
}
