@media (max-width: 991px) {
  /* sigin in and sign up */
  .imageSlider__container {
    display: none;
  }
  .split__screen > div {
    padding: 0;
    width: 100%;
    max-width: 350px;
  }
  .signIn__wrapper,
  .signUp__wrapper {
    margin-right: 0;
  }

  /* header */
  header .search {
    display: none;
  }

  /* feeds page */
  .feeds__container .box__container {
    flex-direction: column;
  }

  .feeds__content {
    margin: 0 auto;
  }
  .feeds__leftContent {
    display: none;
  }
}

@media (max-width: 767px) {
  /* explore page */
  .story__item {
    padding: 0 1px;
    margin-bottom: 2px;
  }
}
